.stock {
  display: grid;

  gap: 10px;
  padding: 10px;

  margin: calc(0.5em + 1vmin);

  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.stock > div {
  
  font-size: calc(0.5em + 1vmin);;
}
p{
  overflow: hidden;
}

.title {
  grid-area: stock-name;
  font-size: 2rem;
  color: #f7e702;
  margin: auto 1rem;
}

.fname {
  grid-area: stock-fname;

  color: #eccf77;

  font-size: 1rem;
}
.sum {
  grid-area: summary;
  
  color: #eccf77;

  font-size: 1rem;
}

.url_label {
  grid-area: url_l;

  color: white;
  margin: 0;

}
.url {
  grid-area: url;
  min-width: none;
  color: #eccf77;
  margin: 0;

}
.url a {
  color:#eccf77
}
a:visited {
  color: #9b62e6;
}
.mkt_label {
  grid-area: mkt_l;

  color: white;
  margin: 0;

}
.mktcap {
  grid-area: mktcap;

  color: #eccf77;
  margin: 0;

}
@media screen and (min-width: 0px) {
  /* For tablet: */
  .phone_grid {
    grid-template-areas:
      "stock-name stock-name stock-name stock-name"
      "stock-fname stock-fname stock-fname stock-fname"
      "summary summary summary summary "
      "url_l url_l  mkt_l mkt_l"
      " url url   mktcap mktcap";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .phone_text{
    text-align:center;
  }

}
@media screen and (min-width: 600px) {
  /* For tablet: */
  .tablet_grid {
    grid-template-areas:
      "stock-name stock-fname stock-fname"
      "stock-name summary summary"
      "stock-name url_l  mkt_l"
      "stock-name url    mktcap";
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tablet_text{
    text-align:justify;
  }

}

@media screen and (min-width: 768px) {
  /* For desktop: */
  .desktop_grid {
    grid-template-areas:
      "stock-name stock-fname stock-fname stock-fname stock-fname"
      "stock-name summary summary summary summary"
      "stock-name url_l url mkt_l mktcap";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .desktop_text{
    text-align:justify;
  }
 
}
